[2014-06-14 16:23] TwoWheelDev opened #1 "Fix Create VM wizard"
From: https://sourceforge.net/p/openxenmanager/bugs/8/
The Create VM wizard needs a bit of TLC.
- Back functionality is broken.
- Setting initial vCPU and memory values does not work.
- The title never updates from "Select an OS for this VM"
- Wizard is dependent on the host which is selected in the main tree. If you click on a different host, then it tries to the VM on that host instead. It shoul

[2014-06-16 11:32] TwoWheelDev opened #2 "Migrate Tool"
Comment text gets cut off

[2014-06-16 11:36] TwoWheelDev opened #3 "New storage repository"
Check all the comment text in the new storage repository wizard, some also appear to be missing comments so display comments from other options

[2014-06-16 11:38] TwoWheelDev opened #4 "System Alerts Window"
System Alerts window currently isn't a proper window/dialog... it should be

[2014-06-16 18:19] TwoWheelDev opened #5 "Root element in treeview"
Clicking on the root element in the treeview causes the following traceback

[code]

[2014-06-16 18:21] TwoWheelDev opened #6 "Disconnect from specific server"
Disconnecting from a specific server causes the following traceback

[code]

[2014-06-16 18:32] TwoWheelDev opened #7 "Optimize the GUI"
The main GUI (window1) could be improved.

Current it mainly uses `pane` elements where box or grid elements would be better suited.

[2014-06-16 18:59] TwoWheelDev opened #8 "Allow import/export of XenCenter configuaration file"
XenCenter allows you to export your server list as an xml file. We should have the option to both import and export these.
Sample:

[code]

[2014-06-16 20:50] #5 closed, assigned to TwoWheelDev

[2014-06-17 15:48] #6 closed, assigned to nobody

[2014-06-17 16:26] TwoWheelDev opened #9 "Shutdown VM"
Shutting down a VM causes the following traceback:

[code]

Upon restarting the VM further tracebacks are produced:
Start VM:

[code]

*\* LAST TRACEBACK REPEATS 3 TIMES **

[code]

*\* LAST TRACEBACK REPEATS 4+ TIMES **

Change to different VM, then back to VM that was shutdown/restarted:

[code]

[2014-06-17 16:42] dlintott opened #10 "Unable to change the number of vCPU's"
Trying to change the number of vCPU's displays the follow message in console and does not alter the number of vCPU's
[code]
See also: https://sourceforge.net/p/openxenmanager/bugs/13/

[2014-06-23 20:55] TwoWheelDev opened #11 "Menu bar inacessible in Ubuntu Trusty"
The menu bar is inaccessible in Ubuntu Trusty, meaning all features contained there cannot be accessed

[2014-06-24 08:52] TwoWheelDev opened #12 "Scale option on console tab (linux)"
Quoting https://sourceforge.net/p/openxenmanager/feature-requests/5/

It would appear gtk-vnc supports scaling so this should be possible to implement

[2014-06-24 11:42] #12 closed, assigned to nobody

[2014-06-24 11:59] TwoWheelDev opened #13 "Port entire application from GTK2+ to GTK3+"
The application should be ported from pyGTK to pyGI (GObject Introspection).

https://wiki.gnome.org/Projects/PyGObject/IntrospectionPorting

[2014-06-28 09:53] TwoWheelDev opened #14 "Tidy up imports"
Many of the files contain imports that are not used (appear to from copy/paste).

Any imports that are not needed should be removed from each file

[2014-06-29 21:05] #14 closed, assigned to TwoWheelDev

[2014-07-01 15:40] TwoWheelDev opened #15 "Create memory tab for host"
XenCenter has a memory tab for the host... Try and replicate this

[2014-07-01 15:41] TwoWheelDev opened #16 "Include the UUID of host"
The UUID of the host isn't found anywhere in OXM.

XenCenter has this on the General tab

[2014-07-01 15:43] TwoWheelDev opened #17 "VM -> Boot Order is confusing"
Boot order isn't the boot order at all... XenCenter lists this as OS Boot Parameters

[2014-07-01 15:44] TwoWheelDev opened #18 "VM Storage Tab"
The priorities display in OXM are the inverse of what XenCenter displays

[2014-07-01 15:45] TwoWheelDev opened #19 "VM Network Tab"
XenCenter displays all IP Addreses (IPv4 and IPv6)... we currently only display the IPv4 address

[2014-07-01 15:48] TwoWheelDev opened #20 "VM Snapshot Tab"
The 'Taken On' date is currently unformatted... we should format this, to be human readable

[2014-07-01 18:20] #20 closed, assigned to TwoWheelDev

[2014-07-01 18:34] #18 closed, assigned to TwoWheelDev

[2014-07-01 19:03] #17 closed, assigned to nobody

[2014-07-02 12:26] ssamson-tis opened #21 "Add support keyboard layout"
The default keyboard layout on vnc console with fullvirt vms is qwerty.

It's could be possible to change the default layout ?

[2014-07-03 10:27] TwoWheelDev opened #22 "Host NICs Tab"
The list of NICs includes the "virtual" nics that are created for VLAN networks

These should be hidden from view

[2014-07-03 10:36] TwoWheelDev opened #23 "Host Networks Tab (Auto add column)"
The list of Networks on a host display the Auto field incorrectly

[2014-07-03 10:38] TwoWheelDev opened #24 "Host Networks Tab doesn't display VLANS"
The networks tab doesn't display the VLAN networks, that are displayed in XenCenter

[2014-07-03 10:39] TwoWheelDev opened #25 "New network dialog only displays NIC0"
The new network dialog only displays NIC0 of the host

[2014-07-03 11:12] #22 closed, assigned to TwoWheelDev

[2014-07-03 12:06] #24 closed, assigned to nobody

[2014-07-03 14:40] #25 closed, assigned to nobody

[2014-07-03 15:01] #23 closed, assigned to nobody

[2014-07-03 21:20] TwoWheelDev opened #26 "Error creating VM"
As reported in http://sourceforge.net/p/openxenmanager/bugs/3/ creating a VM result in a large list of errors

This is critical bug and needs to be fixed before make a release

[2014-07-11 08:29] DonOregano opened #27 "Make pygtk_chart "submodule" optional"
Is it possible to use an external pygtk_chart instead of the included one. I'd like to use the version that I already have installed as a package.

[2014-07-16 21:43] #19 closed, assigned to nobody

[2014-08-08 11:04] ssbarnea opened #29 "provide os x brew formula for installing on os x"
Please provide OS S brew formula for installing on OS X, like most of other linux tools.
See http://brew.sh/
In case you are not already familiar, it works like apt-get or yum, the difference is that brew does compile from source.

[2014-08-15 14:53] solj opened #30 "Missing module"
Looks like the configobj module is missing from the master branch.

[code]

[2014-08-15 15:15] #30 closed, assigned to nobody

[2014-09-05 14:58] ivanfitenko opened #32 "Source for vncviewer.exe?"
File vncviewer.exe, as supplied with openxenmanager , seems to be a modified TightVNC viewer (command 'strings vncviewer.exe' yields some mentions of TightVNC). However, there are no sources for this modified version on git tree.

Any ideas where those sources can be obtained from?

[2014-09-05 17:17] TwoWheelDev opened #33 "Copy text from console causes traceback"
[code]

[2014-09-12 16:36] TwoWheelDev opened #34 "GtkWarning on Logs tab"
When changing between hosts/guests and clicking the Logs tab, a GtkWarning is emitted:

[code]

[2014-09-12 19:12] #11 closed, assigned to TwoWheelDev

[2014-09-24 21:28] benwbooth opened #37 "tango.color file missing from installation on ArchLinux"
I installed openxenmanager-git from the ArchLinux AUR. When running openxenmanager, I noticed that the charts were not displaying. Running from the command line revealed this stack trace:

[code]

It's caused by the `/usr/lib/python2.7/site-packages/pygtk_chart/data/tango.color` file being missing. If I manually add the file there, then the charts display correctly. The PKGBUILD file for openxenma

[2014-09-24 21:28] benwbooth opened #38 "openxenmanager should have a .desktop file and icon for better desktop integration"
What the title says. Thanks!

[2014-09-25 13:19] ssbarnea opened #39 "gtk is not listed as a dependency in setup.py"
gtk is not listed as a dependency in setup.py

please add "pygtk" to requires.

[2014-09-25 13:29] #39 closed, assigned to nobody

[2014-09-27 16:04] #37 closed, assigned to nobody

[2014-09-29 01:59] JunioCalu opened #40 "Does not start in more recent versions of glib and python2"
hello, I was using arch linux to a time when I came across the following bug openxenmanager;

"Attempt to unlock mutex that was not locked"

Searching the web I found that could fix, commenting parts of the code that has 'gtk.gdk.threads_init ()'. I'm using Python 2.7.8 and  glib  2.42.0.

Here was where I found the explanation;

https://bugs.launchpad.net/ubuntu/+source/radiotray/+bug/1344043

ht

[2014-09-30 18:32] #40 closed, assigned to TwoWheelDev

[2014-09-30 22:01] bbustin opened #41 "TypeError: value is of wrong type for this column"
Was receiving the following error using the latest code in Master:

Traceback (most recent call last):
  File "openxenmanager", line 34, in <module>
    wine = oxcWindow()
  File "/Users/bbustin/Dropbox/Programming/openxenmanager/src/OXM/window.py", line 230, in **init**
    None, ["addserver", "connectall", "disconnectall"], None]))
TypeError: value is of wrong type for this column
Exiting...

Fi

[2014-10-03 21:58] schplat opened #42 "Error when attempting to add slave host."
This should spit an error:

[code]

Instead, a Traceback is produced:

[code]

Line 95 being:

[code]

The self shouldn't be required, and it's the only emit call that has self contained as a parameter.  I have a fix coming in a pull request.

[2014-10-11 20:11] #42 closed, assigned to nobody

[2014-10-16 13:20] TwoWheelDev opened #44 "Alert user about available updates"
The following steps (described in terms of the java API, but you can choose whichever API binding you prefer) should enable an application to notify the user that relevent updates are available.

Source: http://xenserver.org/partners/developing-products-for-xenserver/20-dev-hints/91-xs-hotfix-howto.html

To alert a user of all the hotfixes available for their specific version of XenServer, follow

[2014-10-16 16:03] mrmanishs opened #45 "Openxenmanager on Mac console not working"
Openxenmanager on Mac console not working. It just has a blank screen area (screenshot attached). I installed vncviewer and updated my config file to that one and have the latest gtk+ on python 2.7.8.

![screen shot 2014-10-16 at 12 01 41 pm](https://cloud.githubusercontent.com/assets/124528/4665806/c6ced764-554d-11e4-9a22-c70dbe2e3e9c.png)

I think I'm missing something, but not sure what. Any gu

[2014-10-16 16:25] kochen opened #46 "OpenXenManager on OSx"
when running the latest code on OSx there are 2 worning and one error preventing it from running:

[code]

[code]

[code]

can someone help out with these issues?

[2014-10-17 14:25] #41 closed, assigned to nobody

[2014-10-28 21:23] schplat opened #47 "Silent file not found error when attempting to select a menu option."
https://github.com/OpenXenManager/openxenmanager/blob/master/src/OXM/oxcSERVER_menuitem.py#L307-L308

images/prop_network.png does not exist.  You get a silent error when selecting a XenServer, then going to Server dropdown menu (alt + s), and selecting Management Interfaces.

Not sure if the image is missing, or it should be a different image, and if it's a different image, which image should it

[2014-11-26 23:27] #7 closed, assigned to TwoWheelDev

[2014-12-26 09:38] brucehvn opened #51 "OpenXenManager hangs while synchronizing"
Ubuntu 14.04
OpenXenManager rev 48

I saw this issue reported at SourceForge, but not here.  When starting OpenXenManager when either adding a new server, or after the hang, trying to connect to the saved server, the console will show some errors in posting a request and an empty response and the program is hung at that point.

Below is the console ouput.

[code]

[2014-12-26 12:51] TwoWheelDev opened #52 "copy topology.png to the base directory of the new project if the file exists"
Copy topology.png (perhaps *.png) to the base directory of the new project if the file exists? Similarly for snapshots.

[2014-12-26 12:54] TwoWheelDev opened #53 "VPCS Configuration"
If the user used VPCS in their topology, there is likely to be some files with a .vpc extension in the configs directory, and a vpcs.hist file.

Can these files be copied to a new directory called multi-host under the VPCS directory? See also: https://community.gns3.com/ideas/1395

Similarly, this structure will need to be repeated for the snapshots.

[2014-12-26 12:55] #52 closed, assigned to TwoWheelDev

[2014-12-26 12:55] #53 closed, assigned to TwoWheelDev

[2014-12-26 13:28] #51 closed, assigned to nobody

[2015-01-06 13:57] noiala opened #54 "Connection Refused"
Hi,
I'm trying to connect to my local server using openxenmanager but I'm getting a connection refused.
The application launches just fine but it fails when I try to add a new server. Firewall is all off and I also double checked credentials.
The manager is installed in the same machine where Xen is running.
Thanks!

[2015-01-06 14:55] dlintott commented on #54
You mention openxenmanager is installed on the same machine. Are you definitely running either XenServer (I guess not as this doesn't have a GUI at all) or XCP (Deprecated).

OpenXenManager won't work with the older Xen Hypervisor that was previously available through distro's such as Debian (https://tracker.debian.org/pkg/xen)

[2015-01-06 16:13] noiala commented on #54
Thx for the reply. I got it working. You are correct. There were some issues during the xcp-api installation. I'm running Xen Hypervisor + OpenXenManager. I was switching between toolstacks xapi | xl for testing purposes..so at the end my setup works ok (of course only if the toolstack is set to xl)

[2015-01-06 16:15] dlintott commented on #54
Excellent, I'm glad to hear you got it working. Please feel free to file bug reports against OpenXenManager for any bugs you find.

[2015-01-06 16:15] #54 closed

[2015-01-12 16:08] drt24 opened #55 "openxenmanager supports unencrypted connections and makes these default"
OpenXenManager should never use port 80 http but should instead always use an SSL connection on port 443 https. Please could encrypted connections be made the default and preferably could support for unencrypted connections be removed entirely as I am told that only "truly ancient dom0"'s might not support SSL.

[2015-01-12 16:11] dlintott commented on #55
Absolutely... this is something that is in my list to be done.

The standard Citrix XenCenter does not give an option for non-ssl, so like you I don't feel it needs to be there now.

[2015-01-14 08:34] panaceya opened #57 "Error when trying opening content menu on VM"
Hello!

This is trace after xe vm-params-set uuid=x HVM-boot-policy='Bios order'
[code]
Vm running.

XenServer 6.1:
[code]

[2015-01-19 19:33] hohl commented on #29
That would be great. :+1:

[2015-01-25 14:00] chengsun opened #58 "Attribution error"
Hi Daniel,

Thanks for picking up maintenance of OXM again. Just a correction that the original author was Alberto Gonzalez Rodriguez (alberto at pesadilla dot org). I (Cheng Sun) merely maintained the project for a while after he stopped development. It would be appreciated if you could correct this attribution error :)

(As much as I would like to continue to contribute, I unfortunately no longe

[2015-02-02 12:45] #58 closed

[2015-02-02 17:26] dlintott commented on #55
We should also use SSL and port 443 as the default for the add server dialog.

Leaving this bug open to track that

[2015-02-05 09:02] nanashiRei opened #59 "ImportError: No module named configobj"
When i try to launch it in OSX Yosemite i get this:

(process:99158): Gtk-WARNING **: Locale not supported by C library.
	Using the fallback 'C' locale.
/usr/local/Cellar/python/2.7.9/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/gtk-2.0/gtk/__init__.py:57: GtkWarning: could not open display
  warnings.warn(str(e), _gtk.Warning)
Traceback (most recent call last):
  File "./o

[2015-02-05 09:06] dlintott commented on #59
You need to install the configobj module for python

```pip install configobj```

[2015-02-05 10:13] nanashiRei commented on #59
I did that and now i get this:

[code]

[2015-02-05 12:26] dlintott commented on #59
Hi,

Doing some research it appears this happens due to an initialization problem the PyGTK and GTK+.

Can you confirm you have a XServer running and what is the output of ```echo $DISPLAY```?

(Source: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=505832)

[2015-02-05 12:51] nanashiRei commented on #59
Seems i need to reboot to run xserver from xquartz, i will report back once i did that.

[2015-02-06 13:04] ofqwx commented on #46
Hi!, I'm running openxenmanager on OSX Yosemite and when I try to run some VM I'm getting this trace:
[code]

[2015-02-23 09:02] kochen opened #60 "Windows VM Console"
Hey,
is it possible to have a Console to a Windows VM?

M.

[2015-03-02 14:33] davidak opened #61 "EqualLogic Multipath Capable"
it's not very important since that StorageLink is deprecated.

http://support.citrix.com/article/CTX137337

![bildschirmfoto 2015-03-02 um 15 16 10](https://cloud.githubusercontent.com/assets/91113/6442557/fb6395aa-c0f0-11e4-8fe8-0cacc8715c2c.png)

for storage connected via iSCSI the multipath links are displayed correctly.

[2015-03-02 14:55] davidak opened #62 "Move disk"
the option `move` in the storage tab is missing.

![bildschirmfoto 2015-03-02 um 15 51 06](https://cloud.githubusercontent.com/assets/91113/6443031/79592648-c0f4-11e4-95a3-0c6311d356ef.png)

[2015-03-06 01:22] dlintott commented on #60
This should definitely be possible... I remember seeing the details in the API

[2015-03-06 01:41] dlintott commented on #60
Could you post the output of the second command. I don't have any windows vms on my server atm.

To retrieve a console URI using the CLI

Retrieve the VM UUID by running:

```xe vm-list params=uuid --minimal name-label=name```

Retrieve the console information:

```xe console-list vm-uuid=vm_uuid```

[2015-03-06 11:15] craigcarnell commented on #45
When I click on the console tab I get:

[code]

Which config file am I supposed to edit? The one in src/OXM/oxc.conf? I tried setting it /usr/local/bin/vncviewer made no difference

[2015-03-06 11:20] craigcarnell opened #63 "Performance tab - [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
OX 10.10.2 Click on 'performance' tab on my Ubuntu 14.04 server. Latest code from github

[code]

[2015-03-06 16:52] dlintott commented on #45
The correct file to edit will be in ```~/openxenmanager/oxc.conf```

[2015-03-06 16:54] dlintott commented on #59
Did you manage to resolve this issue?

[2015-03-07 01:46] dlintott commented on #63
Are you running XenServer or XCP (deprecated)?

OpenXenManager won't work with Xen available from Ubuntu repos.

[2015-03-09 09:05] craigcarnell commented on #63
@dlintott We are running Xen Server 6.5, build 90233c, build date 2014-12-09. The client install is Ubuntu 14.04.

[2015-03-09 09:13] craigcarnell commented on #45
I created the directory ~/openxenmanager and created a file oxc.conf in that location with the contents of:

[code]

However, I still get the error above

[2015-03-19 01:56] dlintott commented on #45
Hmm... That's odd! I have started adding some debugging code, that will hopefully help solve this issue

[2015-03-23 22:07] dlintott commented on #63
It seems this issue is caused by Python 2.7.9, which now checks the certificate by default. XenServer uses a self signed certificate.

Ref: https://github.com/mtschirs/quizduellapi/issues/2

Working on a fix :+1:

[2015-03-24 00:43] valmis opened #64 "Openxenmanager don´t import ovf files"
Im trying to import a vmware ovf and Openxenmanager don´t read the .ovf files, in the same XenServer with Citrix XenCenter i can import ovf files.

Any idea.

Thanks

[2015-03-24 00:46] dlintott commented on #64
This is an area of the software I'm yet to test since taking over the development... So I can't say for certain at the moment what functionality and bugs the import mechanism has

[2015-03-24 00:49] valmis commented on #64
Ok, thanks!

[2015-03-24 09:57] Ezerbeth opened #65 "[OSX] Can't right click on server names"
Hello,

Thanks for this great tool.

Just wanted to point out another bug on OSX (aware of the vnc/console issue). When right-clicking on existing servers in the server pane, python crashes with "Segmentation fault: 11".

Thank you.

[2015-03-24 17:39] fergbrain commented on #63
FWIW, I replaced the default XenServer (6.5) self-signed cert with my own cert (for which OSX trusts the Certificate Authority) and I'm still having issues.

[2015-03-27 21:10] kalimalrazif opened #66 "set_style error"
Good day:

I tried to run the program but the following message appears, any thoughs about? Thanks in advance

[code]

[2015-03-31 10:42] dlintott commented on #66
Hi,

I can't actually work out why it is looking for that value there!

I would suggest deleting or renaming the config file (~/.config/openxenmanager/oxc.conf) and trying again.

[2015-03-31 13:26] kalimalrazif commented on #66
Thanks :-D I will do so ;-)

[image: --]

Nomar Mora
[image: http://]about.me/nomar.mora
<http://about.me/nomar.mora?promo=email_sig>

On Tue, Mar 31, 2015 at 6:12 AM, Daniel Lintott <notifications@github.com>
wrote:

[2015-04-01 10:06] dcbeckett commented on #66
I had the same issue with two different ubuntu machines im working on, issue could be due to me installing openxenmanager from the repos first, before downloading it directly from sourceforge, may be a conflict between the two software's configs?

Deleting the conf file fixed the issue

[2015-04-02 17:10] EagleDelta2 opened #67 "openxenmanager hangs while syncronizing"
Fedora 21 x86_64
OpenXenManager rev 48

When trying to connect to a new or saved server I get the following error when syncronizing:

[code]

Installed following packages to account for dependencies:

[code]

Am I missing something?

[2015-04-03 00:44] dlintott commented on #67
Hmmm... This is something that seems to crop up with openxenmanager and appears a bit on the old sourceforge boards.

You mention your using rev48... That code really can't be trusted to not be full of bugs! Could you try the code from the master branch on here?

[2015-04-03 16:31] EagleDelta2 commented on #67
That worked! Thanks!

[2015-04-03 16:31] #67 closed

[2015-04-04 21:02] kochen commented on #60
You're probably looking for this:
[code]

[2015-04-04 21:14] dlintott commented on #60
Well that's basically what is used already... Though the output from the commands I gave would be useful as it gives the specific console type.

Currently openxenmanager looks for an RFB console

[2015-04-04 21:24] kochen commented on #60
[code]

[2015-04-06 20:25] dlintott opened #68 "Performance graph traceback if xenserver tools not installed"
Exception in thread Thread-11:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 552, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 505, in run
    self.__target(*self.__args, **self.__kwargs)
  File "./src/OXM/oxcSERVER.py", line 717, in update_performance
    chart["vbd"].set_size_request(len(data)*20, 250)
TypeError: object of

[2015-04-06 20:52] dlintott opened #69 "Traceback when attaching storage"
VM -> Storage -> Attach
[code]

[2015-04-06 20:54] dlintott opened #70 "Invalid tree path (discovered on windows vm)"
[code]

[2015-04-06 20:59] dlintott opened #71 "DVD Drive dropdown on storage tab of VM not populated"
The dropdown which allows you to attach an ISO or DVD/CD to a VM is not populated in the storage tab of a VM

[2015-04-06 21:43] dlintott commented on #60
Hmmm.... Just installed a windows VM myself and the console already appears to work fine

![screenshot_windows server 2003 32-bit](https://cloud.githubusercontent.com/assets/4700562/7013079/4db214a2-dcae-11e4-808d-50cc2a7e71a4.jpg)

[2015-04-07 15:10] #63 closed

[2015-04-07 20:25] #69 closed

[2015-04-09 21:08] EagleDelta2 commented on #71
+1

Same problem here. Need it to install the xen-tools

[2015-04-09 21:18] dlintott commented on #71
Hi @EagleDelta2

Just pushed the fix to the git repo. There is a new traceback now, but I haven't had chance to investigate it yet

[code]

[2015-04-11 00:54] #59 closed

[2015-04-17 14:31] saitix opened #72 "Hang on connecting to a server with saved password"
The bug is like this:
I create a new server, I use a master password, I connect to the server. All is fine so far, all works.
I close down the openxenmanager
I open it again, I input the password, and then when I click connect to the saved server, it hangs on connecting to....

In console I have this error:

Exception in thread Thre
![openxenmanager_reconnect_hang_bug](https://cloud.githubusercont

[2015-04-28 09:59] garuhhh opened #73 "Key"

[2015-04-28 10:05] garuhhh opened #74 "KeyError: 'set_style'"
openxenmanager doesn't open from mine (Ubuntu 15.04 64bit).
edit: I downloaded the tar openxenmanager_rev48.tar.gz from sourceforge

Here is the output from terminal:

[code]

[2015-04-28 10:14] dlintott commented on #74
Hi,

This is a puzzling bug (as you aren't the first to experiance it!)

1. Is this a fresh install?
2. Could you post the content of /home/ubuntu/.config/openxenmanager/oxc.conf

Thanks

[2015-04-28 10:16] garuhhh commented on #74
Hi! Here is the content of oxc.conf:

[gui]
show_xs_templates = True
show_custom_templates = True
show_local_storage = True
show_toolbar = True
save_password = False
master_password = ""
show_hidden_vms = False
[servers]
[[hosts]]
192.168.1.24 = root, "", False
[maps]
check_unused_network = False
check_unused_storage = False
check_show_storage = True
check_show_network = True
check_show_halted_vms

[2015-04-28 10:17] #73 closed

[2015-04-28 10:21] garuhhh commented on #74
Hi again,

Found this issue just now (it didn't show up during my googling):
https://github.com/OpenXenManager/openxenmanager/issues/66

it asked to rename oxc.conf, tried it, and openxenmanager opened successfully!

[2015-04-28 10:22] garuhhh commented on #66
yeah.. renaming oxc.conf fixed it for me as well. Like dcbeckett, I installed openxenmanager from ubuntu repos first before downloading it directly from sourceforge.

[2015-04-28 10:23] dlintott commented on #74
Indeed, that is the same issue... I'm currently puzzled as to why the error occurs in the first place.

Was it working previously?
Did you do nay thing particualr before the error?

[2015-04-28 10:23] #74 closed

[2015-04-28 10:24] garuhhh commented on #74
nope. didn't do anything, except to install openxenmanager from ubuntu repos. Must be a conflict with the confs from the repo and the one from sourceforge?

[2015-04-28 10:26] dlintott commented on #74
Okay... Just seen the edit to your first post... That gives me something to work with!

I shall attempt to reproduce and catch the error

[2015-04-28 10:32] garuhhh commented on #74
thanks for the work! :)

[2015-04-28 10:40] dlintott commented on #66
Okay, thanks to @garuhhh I've tracked down where the issue is!

All references to checksetsyle/set_style were removed in rev 66 & 67. Ubuntu's version is based on rev 80, so doesn't know what to do with this checksetsyle/set_style.

https://sourceforge.net/p/openxenmanager/code/66/tree//trunk/window.py?diff=5176cecc34309d5bc6065087:65

This should be handled in the code, so ensure this doesn't hap

[2015-04-28 15:25] dlintott commented on #66
After thinking about this... I can't fix this for in the code for old versions (duh... can't go back in time!)

So I have restructured the sourceforge project and added README files to make it clear that the versions hosted there are going to be full of bugs! :bug:

Thankyou to everyone for reporting the issue... and helping me find the reason why!

[2015-04-28 15:25] #66 closed

[2015-04-29 04:28] garuhhh opened #75 "menu bar inaccessible in Ubuntu (15.04) Vivid"
The menu bar is inaccessible in Ubuntu Vivid. I have enabled Local Menus, so I have them on other windows, but not in Openxenmanager.

![image](https://cloud.githubusercontent.com/assets/1308747/7384710/1d252d64-ee6b-11e4-9522-c66353f66926.png)

edit: see the menus in the terminal, no menus in openxenmanager even if i hover the mouse on the title bar.

[2015-04-29 14:56] dlintott commented on #75
Are you using the latest source or the version from Ubuntu?

This was fixed for Trusty in #11

[2015-04-29 15:08] dlintott commented on #75
More specifically fied in PR #35 and commit https://github.com/OpenXenManager/openxenmanager/commit/9cf7b4cc7d69c4bab93c52d23b4efa9317b48f2e

[2015-04-30 04:22] garuhhh opened #76 "ImportError: No module named configobj"
I cloned the source from git, then run the openxenmanager script. Here is what I got from the terminal:

    ubuntu@ubuntu:~/Downloads/source/myopenxenmanager$ ./openxenmanager
    Traceback (most recent call last):
      File "./openxenmanager", line 30, in <module>
        from OXM.window import oxcWindow
      File "./src/OXM/window.py", line 25, in <module>
        from configobj import Config

[2015-04-30 04:23] garuhhh commented on #75
I'm using Ubuntu 15.04 Vivid, and tried both the one from ubuntu source and from sourceforge (before the link was taken down). Both of them shows this issue.

I'm not able to open the one I pulled from git. I filed an issue for it:
https://github.com/OpenXenManager/openxenmanager/issues/76

Thanks @dlintott !

[2015-04-30 07:55] dlintott commented on #76
Ah, yes... I must make this clearer in the README.

You need to install configobj:

```sudo apt-get install python-configobj```

That should work on Debian or Ubuntu

[2015-04-30 08:28] garuhhh commented on #76
Thanks @dlintott ! it's running now :)

yeah, putting that in README would be helpful :+1:

[2015-04-30 08:28] #76 closed

[2015-04-30 08:29] garuhhh commented on #75
I was able to run the most recent pull from git, thanks to @dlintott .

However, still no menus :(

![screenshot from 2015-04-29 09 22 29](https://cloud.githubusercontent.com/assets/1308747/7409087/0ef96c28-ef56-11e4-98c9-85721ef4f810.png)

[2015-04-30 08:31] #75 closed

[2015-04-30 19:41] #71 closed

[2015-05-07 21:47] vemkiran opened #77 "Doesn't work with mac"
It's either I am not using the correct file to run OXM on mac.
I am running oxm.pyw and openxenmanager that are created in the directory after i do build and setup.

or it doesn't work wit mac.

If it is the wrong file I'm running, could you guys have some INSTALL file with installation instructions and running instructions?

Thanks

Traceback (most recent call last):
  File "oxm.pyw", line 34, in

[2015-05-09 03:31] dlintott commented on #77
You probably need to upgrade the six package using

``` pip install --upgrade six```

[2015-05-15 10:21] panaceya opened #78 "Exception in thread with protocol"
At start on connect to my XenServer i see this error

[code]

[2015-05-16 15:29] mcmasterathl commented on #45
@craigcarnell the config file on Mac OS X is actually ~/.config/openxenmanager/oxc.conf. I was able to get this working after setting the path to vncviewer in that config.

[2015-05-18 09:10] davidak opened #79 "Add Server with button in "Home" Tab didn't work"
console output:

[code]

Via Menu: Server -> Add... works

---

Elementary OS Freya (Ubuntu 14.04 LTS based)
Python 2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2] on linux2

(2, 24, 23)

(2, 24, 0)

[2015-05-19 22:36] Dark-Fx commented on #79
I'm getting this as well on both OSX and Debian Jessie.

[2015-05-20 07:40] dlintott commented on #79
Doh... I reworked the add server box... Obviously forget to change that bit to the new version.

As soon as I manage to get my PC working again I'll get on it

[2015-05-22 07:35] kochen commented on #72
I'm experiencing the same issue, with a similar setup (master password)

[2015-05-25 11:35] markinfo opened #80 ""list index out of range""
I get message "list index out of range" with fresh installation from GIT and with empty oxc.conf file after a trying to connect to the first server. There is no warning in terminal.

[2015-06-04 02:39] iTech278 commented on #79
Hello! Any update on this? Thanks :)

[2015-06-04 03:56] dlintott commented on #79
No update as such... I just need to find time in between work and sorting out life!

It'll be sorted soon enough

[2015-06-05 03:32] iTech278 commented on #79
No problem at all, just asking out of curiosity. :)

[2015-06-10 17:38] #79 closed

[2015-06-10 18:14] dlintott commented on #78
I'm not able to reproduce this error myself... Can you try the latest sources and see if the eror still exists for you?

[2015-06-20 23:30] markinfo commented on #80
Hi. I have seen there was repaired  "src/OXM/window_menuitem.py"
Could be also be taken attention to this problem. Or how could I debug code that is leading to this issue?

[2015-06-20 23:39] dlintott commented on #80
Hi,

I haven't really had chance to look into the issue yet. Do you still get the error?

If you do... Is there any more of warning displayed at all?

If you also install the raven package (pip install raven) it should report any error message direct to  my Sentry server.

[2015-06-26 13:05] giumbai opened #82 "Can't start openxencenter on fedora 22!"
$ ./openxenmanager
Traceback (most recent call last):
  File "./openxenmanager", line 30, in <module>
    from OXM.window import oxcWindow
  File "./src/OXM/window.py", line 25, in <module>
    from configobj import ConfigObj
ImportError: No module named configobj
This is what i get, i'm on fedora 22, python 2.7.10, i have both python vnc and pygtk installed i've installed even the devel packages

[2015-06-26 14:16] dlintott commented on #82
You need to install the ConfigObj package... Either from your distribution or using pip

[2015-06-30 14:35] #82 closed

[2015-07-02 21:46] RDeYoung commented on #46
fhorlaville:
Your 'configobj' instructions were right on the money.

After installing pip and then using it to install configobj, I'm looking at an OpenXen gui !!

[2015-07-02 22:50] MaurolepisDreki opened #83 "Endless "Event Loop""
After exiting the application, this message displays on a loop:
[code]
It would not stop for ctrl-c interupt but finaly stopped for a ctrl-z interupt.

[2015-07-09 09:07] oliveiraped commented on #80
Hi, I have the same issue, but its strange, i think it problably diferent versions of xen hypevisor. In one i just connect with no problem, in anther system that error appeared.

[2015-07-10 06:10] sfransen commented on #77
no such file as pip

[2015-07-14 13:28] projetoroot opened #84 "configuring keyboard layout ABNT2 ?"
English:
setting for the openxenmanager accept this layout because it was not possible to find such information in the documentation, since in Windows environments using the official tool Citrix XenCenter layout is working properly. Anybody here ever needed to change the keyboard layout for ABNT2 ? What's the procedure? thanks.

---------------------------------------------------------------------

[2015-07-28 15:18] davidak commented on #79
It works now (tested on OS X).

Thank You!

[2015-07-28 15:38] kochen commented on #72
@dlintott, this is still an issue.

[2015-07-28 15:44] davidak opened #85 "vCPUs not updated"
i selected the VM "BSC-LEG" and set 8192 MB RAM and 8 vCPUs, then started the VM.

the RAM is set but not the CPUs. i tryed to quit it but it hangs...

`{'Status': 'Failure', 'ErrorDescription': ['INVALID_VALUE', u'VCPU values must satisfy: 0 < VCPUs_at_startup \u2264 VCPUs_max', '8']}
migrate or start on or resume on2`

latest version from git
on OS X 10.9.5, dependencies installed using brew

[c

[2015-07-28 15:45] davidak commented on #85
Duplicate of https://github.com/OpenXenManager/openxenmanager/issues/10

[2015-07-28 15:45] #85 closed

[2015-07-28 15:47] kochen commented on #72
removing the master password does continue into:
[code]

[2015-07-30 02:21] flareofghast opened #86 "Right click in menu on mac causes segmentation fault 11"
I added a nfs iso store but put the wrong directory, I didn't notice a remove button or option and so I tried to rightclick in the left hand pane on the NFS ISO store and the program crashed with the last few lines
[code]

[2015-07-30 02:22] #86 closed

[2015-07-30 02:22] flareofghast commented on #86
sorry, just found the other one.

[2015-07-30 02:23] flareofghast commented on #65
Yes, I found this also :(

[2015-07-30 02:32] flareofghast commented on #65
Also tried to resize and got

[code]

[2015-07-30 03:15] flareofghast opened #87 "Adjust VM HDD size on Mac"
I got this error

[code]

[2015-08-20 21:14] #10 closed

[2015-08-26 16:10] davidak opened #88 "adding iSCSI SR not working"
i tried to add an iSCSI SR to the pool, but got only errors on the console:

[code]

the discovery of IQN and LUN works in the GUI, but only that errors after clicking "Finish".

<img width="1144" alt="openxenmanager_iscsi_sr" src="https://cloud.githubusercontent.com/assets/91113/9499105/a9a3b7be-4c1d-11e5-8d22-55f121dce8ca.png">

[2015-08-27 08:09] davidak opened #89 "Help -> XenServer on the Web don"
[code]

[2015-08-27 08:10] davidak opened #90 "Help -> XenServer on the Web don't work"
[code]
not critical.

[2015-08-27 09:14] davidak opened #91 "Empty Master Password set"
it is possible to set an empty master password but it is not accepted at start.

steps to reproduce:

1. Tools -> Options
2. enable "OXM can remember the passwords"
3. leave "... master password" empty
4. click OK
5. close/start
6. you get a password prompt but it don't work without password

expected behavior:

error message, that you have to set a master password when you click "OK" in the Optio

[2015-08-27 09:21] Sacro opened #92 "MD5 is a hash."
I'm informed that the master password is stored using MD5 encryption, MD5 is a hash.

[2015-08-27 10:07] davidak commented on #92
haha, i also wanted to create this ticket.

also, MD5 is insecure and SHA256 should be used.

[2015-08-27 10:21] davidak opened #94 "MD5 is insecure, use SHA256 for Passwords"
master password and server passwords

https://en.wikipedia.org/wiki/MD5#Security
https://security.stackexchange.com/questions/19906/is-md5-considered-insecure

[2015-08-27 10:26] davidak opened #95 "Link to XenServer"
should the open source-project or the commercial website be linked?

http://xenserver.org/
https://www.citrix.com/products/xenserver/overview.html

to open with "Xenserver on the web" on Help menu.

it now links to xenserver.com what redirects to the commercial website.

[2015-08-27 11:27] panaceya commented on #78
I update source and try again:

[code]

[2015-08-27 16:49] davidak opened #96 "crash reattach SR"
i tried to reattach a SR and put a comma separated list of ips in the host field...

http://davidak.basecom.de/paste/?e8e25501f6494ee2#AgbTNfXGg6ukQ+3iAMXyEWwinJFQ7Sl7f4r89sKY37w=

this happens after i discovered the LUN:

Segmentation fault: 11

http://davidak.basecom.de/paste/?596a8f1c67aaae2e#nPN89QA+cEClN5fyaQL9XSeOCIJxAfAu/x0OmsJqHYg=

[2015-08-28 08:31] panaceya commented on #78
Currently i have installed openxenmanager 0.r80+dfsg-4 on my Ubuntu. It work nice. But version from this repository not working, if files in dir  ```$HOME/.config/openxenmanager``` created from previous  (0.r80+dfsg-40.r80+dfsg-4) version.

[code]
[code]

The following patch allows two versions of the same system.
[code]

[2015-09-02 07:38] davidak opened #97 "No Action for Snapshot"
I would like to "Delete" oder "Revert To" it.

![snap](https://cloud.githubusercontent.com/assets/91113/9625369/e5eab88e-5155-11e5-96cf-31f2c902ce83.png)

Taking Snapshot works.

[2015-09-22 20:11] nkcanball commented on #83
Seen this error as well. Killing and restarting openxenmanager seems to work. Perhaps the endless loop is triggered only under a certain sequence of events. I'd be happy to provide a stack trace next time I see this if a signal handler has been programmed.

[2015-09-22 21:41] nkcanball commented on #77
I can say that as of commit bceaaefdeaca1c06bb2a6e3dbb861954071980ba - Aug 20, that quite a few of the basic functionality I used (create, start/stop, reboot) work on a Mac 10.10.5 with the following issues/workarounds:
- using the password manager breaks (auto or not) re-connecting to servers on restarting OXM. Reconnect providing password works fine
- default values (e.g., net iface) when creati

[2015-10-03 20:49] winst0nsmith commented on #80
same problem with openxenmanager r80. is this fixed in latest commits?

i am happy to help debug, if you can let me know how to do so...

[2015-10-14 15:49] seijikun opened #99 "Internal network Interface missing"
The network interfaces of our XenServer (6.5.0):
*Host internal management Network (___xenapi___)
*External (___xenbr0___)
*Management (___xenbr1___)
*VM Intern (___xapi0___)

OpenXenManager does only show the first 3 in all dialogs, whereas only the last 3 are networks that we created.
Are the checks that hide "xapi0" deprecated?

[2015-11-16 15:11] dlintott commented on #99
I believe the issue you are experiencing was fixed some time ago in commit https://github.com/OpenXenManager/openxenmanager/commit/898053c085f4d6f3399473459e7b2c80fdbb2aca.

Could you ensure you're running the latest version of code from here (not the last release) and see if that fixes the problem.

[2015-11-16 15:44] #90 closed

[2015-11-16 15:44] #92 closed

[2015-11-16 16:03] dlintott opened #100 "Test ticket from Code Climate"

[2015-11-16 16:04] #100 closed

[2015-11-16 16:14] dlintott commented on #95
Looks like xenserver.org is the correct address currently... I think

[2015-11-18 16:15] #99 closed

[2015-12-01 01:11] PrestonR commented on #80
I'm on OpenXenManager 0.1.0-dev1 cloned and installed from the repo and I'm still getting this error when trying to add new servers. Is there a quick fix for this or should we still help debug?

[2015-12-04 10:10] MultiForce opened #102 "Cannot upload updates"
When I select whatever update file I have, I get the following error.

Finish upload..
Event loop -- unexpected error:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/OXM/oxcSERVER.py", line 1886, in event_next
    vm_name = self.all['vms'][vm_ref]['name_label']
KeyError: 'Upload.Patch'

Not sure what more to add as I'm just a beginner, but I'm running Arch Linux and in

[2015-12-07 21:57] LeMurphant commented on #55
The console access does not seem to support encrypted traffic on port 443. In tunnel.py at line 46:
self.server_fd.connect((self.ip, 80))

It appears that port 80 is hardcoded, which is a problem with my install since my port 80 is restricted. This results in the following error whenever I try to use the console access:

Exception in thread Thread-5:
Traceback (most recent call last):
  File "/usr

[2015-12-09 16:02] hinkelmann opened #103 "Console Tab - Black Screen"
...
Unexpected error: (<class 'socket.error'>, error(104, 'Connection reset by peer'), <traceback object at 0x7f1528050b48>)
Traceback (most recent call last):
  File "./src/OXM/tunnel.py", line 123, in read_from_server
VNC disconnected.. <gtkvnc.Display object at 0x7f152803d2d0 (VncDisplay at 0x1cc0450)>
    self.client_fd.send(data)
error: [Errno 104] Connection reset by peer
None
....

can some

[2015-12-09 16:07] dlintott commented on #103
Hmmm... That's not one I've seen.

What operating system are you running?
What version of OpenXenManager?

[2015-12-09 16:08] dlintott commented on #102
Hmmm... I haven't tested the patch uploading myself, since taking over the project.

I shall have a look into it and see what's happening

[2015-12-09 16:23] hinkelmann commented on #103
OS -> Linux Mint 17.2 Rafaela
Kernel ->  Linux 3.16.0-38-generic #52~14.04.1-Ubuntu
Python2.7 -> 2.7.6-8ubuntu0.2
python-gtk2 ->  2.24.0-3ubuntu3
glade ->  3.16.1-0ubuntu2
python-gtk-vnc - > 0.5.3-0ubuntu2
python-glade2 -> 2.24.0-3ubuntu3
python-configobj -> 4.7.2+ds-5build1

OpenXenManger -> last commit

[2015-12-18 16:38] dlintott commented on #80
@winst0nsmith Sorry the delayed response. The r80 version, is hugely buggy... I would try the lastest commit from here, which should be much btter

[2015-12-22 11:51] Funny-Chacko opened #104 "How to install from iso-file"
Hello,

I'm really sorry to annoy you over here, but I found no other way.
I've searched for a kind of documentation, but haven't found one.

I successfully installed a XenServer 6.5 on my server and want to manage it now with the newest version of oxm. I added a new vm, and in the location-section, I'm getting asked to choose a installation media.
I've downloaded an iso-image for installation, bu

[2015-12-24 09:36] cavs95 opened #105 "Don't add server. Stopped at synchronizing process"
I enter hostname and pass. Stopped at synchronizing process.

[2015-12-24 10:10] cavs95 commented on #105
Error creating proxy: The connection is closed (g-io-error-quark, 18)
Error creating proxy: The connection is closed (g-io-error-quark, 18)
Error creating proxy: The connection is closed (g-io-error-quark, 18)
Error creating proxy: The connection is closed (g-io-error-quark, 18)
/opt/openxenmanager/window.py:190: GtkWarning: Ignoring the separator setting
  self.builder.add_from_file(self.gladefil

[2015-12-25 17:56] MultiForce commented on #104
I've added a storage repository (ISO library or whatever it is called) which is basically a folder on my FreeNAS box that contains ISOs. I have not tried to mount a local ISO like on VMWare and I can't test that right now.

[2015-12-28 19:54] markinfo commented on #80
Just tried version from GIT (0.1.0-dev1) and I can connect to all my Xenservers now.

[2016-01-06 16:43] smartattack opened #106 "HiDPI / Font support"
Hi,

  I am using a few systems with HiDPI and the UI renders oddly.  Is there a way to fix this with settings, or would it be possible to add settings to allow changing the font sizes or scaling?

![hidpi_rendering](https://cloud.githubusercontent.com/assets/8866501/12148086/7a5237fa-b46a-11e5-9b2e-6c824d22c838.png)

[2016-01-06 16:46] dlintott commented on #106
I think this is something that should get fixed when we eventually transition to GTK3 (not a small task!)

https://www.reddit.com/r/linux/comments/1n74un/will_only_gtk3_apps_receive_support_for_hidpi/

[2016-01-06 18:26] smartattack commented on #106
Okay, understood.  Is there any way to influence the font rendering as-is with the current app?

[2016-01-06 18:27] dlintott commented on #106
@smartattack I'm not sure on that one... I shall have to look into it

[2016-01-12 19:29] sant0ro opened #107 "Installing on Mac OS (Any Version)"
Hello due the dudes, i created this issue like a tutorial for installing openxenmanager in OS X (including El Capitan)

1. Installing Homebrew
Open Terminal, and write:

`ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

2. Update Home Brew
`brew upgrade && brew update`

3. Install Python and Python GTK in Home Brew
`brew install python`
`brew install pygt

[2016-01-12 19:32] dlintott commented on #107
@sant0ro Many thanks, I shall have to add this to wiki/readme

[2016-01-12 19:39] sant0ro commented on #107
Thanks, closing as the owner readed the issue.

[2016-01-12 19:39] #107 closed

[2016-01-13 20:34] dickensja commented on #80
In case this is helpful, I get this error if I try to connect to a slave server. If I print self.session in oxcServer_addserver.py just after line 57, I get:
{'Status': 'Failure', 'ErrorDescription': ['HOST_IS_SLAVE', '<master_ip>']}
Replacing my connection host to the master as detailed in that error resolves the problem. At least for that event, lines 70-71 also in oxcServer_addserver.py are the

[2016-01-13 21:02] dlintott commented on #80
@dickensja That is indeed helpful... Gives me a place to start investigating

[2016-01-27 07:19] vicky17apr opened #108 "Virtual console - openxenmanager"
Hello Team,

You people are doing a great job. I wish to report a major issue which i noticed with openxenmanager. Virtual console is not working with my ubuntu 14 version. It just shows the screen and no console is coming up so that I can login to the machine or vms that I have added.

Let me know if that has been already fixed.

[2016-01-27 08:10] dlintott commented on #108
@vicky17apr Did you install through the Ubuntu software repository? If so, the version there is much older and did contain a bug with the console. I plan to get these updated at some point (time permitting!)

[2016-01-27 09:28] vicky17apr commented on #108
hey, yes. I guess i installed it through ubuntu repo. Can you please let me know if there is any alternative work around this?

[2016-02-10 17:43] pez252 commented on #102
Same issue, slightly different error message.

Finish upload..
Event loop -- unexpected error:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 1825, in event_next
    vm_name = self.all['vms'][vm_ref]['name_label']
KeyError: 'Upload.Patch'

Running openxenmanager version pulled after commit 8c581038bc638277a68

[2016-02-25 15:26] rkaartikeyan opened #110 "Print Error in OS X EL Captian with Python 3"
Python 2.5 not supported in OS X EL Captian. so i installed Python 3, and i got following Error.

<code>
python window.py
File "window.py", line 441 print column, cell, model, iter_ref, user_data
SyntaxError: Missing parentheses in call to "print"
</code>

Please help me to resolve this issue.

[2016-02-25 15:29] dlintott commented on #110
OpenXenManager doesn't support Python3 (needs a lot of work before it will!)

Looking here http://docs.python-guide.org/en/latest/starting/install/osx/, El Capitan comes with Python 2.7 which OXM supports, so should work just fine

[2016-03-04 18:30] steakknife commented on #107
#### Errata
1. tiger-vnc brew formula was incompatible with modern GnuTLS. **Fix:** `brew install https://gist.githubusercontent.com/steakknife/064302dc55e76231d612/raw/tiger-vnc.rb`
2. ConfigObj was missing. **Fix:** `pip install configobj`

Otherwise, seems to work! :cake:

[2016-03-23 20:08] smartattack commented on #108
Install and run from git - it works fine.

[2016-04-04 03:35] dirk103 commented on #106
I'm going to fix up the .glade files. Everything is a fixed sized and isn't designed to automatically expand.
Shouldn't take too long.
I'll do my best to make sure I don't break anything. Any tips for a beginner to git/open source contributing?
Do I have to create a separate branch for working on this?

Also, glade-gtk2 that I'm using crashes every five seconds, I'm going to go look for the most r

[2016-04-04 15:02] dlintott commented on #106
@dirk103 Many thanks for offering your help with the project.

As a starting point, you might want to check out the following article https://help.github.com/articles/fork-a-repo/

Forking the repo allows you to work on it, make changes, without affecting this one until you're happy with your changes when you can send a pull request.

No idea on why Glade is crashing, but it's reasonably simple to

[2016-04-04 19:21] smartattack commented on #106
Yes, thank you for offering to look at this.  If I knew where to look I
would be happy to take a stab at it myself.  Are you going to update the
glade files to auto-scale or change things in some other way?

On Sun, Apr 3, 2016 at 11:35 PM, James <notifications@github.com> wrote:

[2016-04-05 18:49] dirk103 commented on #106
@dlintott Yeah man. Thanks for a link. I'll fork it today. I have built Glade 3.8.5 from source. It seems to be working fine now, when I first started using it it was crashing and glitching all the time.

@smartattack I'm going to restructure the widgets in the glade files. Most of the layout uses fixed values which is very inflexible and relies on you having the exact font the glade files were de

[2016-04-05 22:59] dlintott commented on #106
@dirk103 glad to hear that's working now. There are some oddities in the way the UI was originally structured which I started to rework as well as splitting the glade files up... Originally everything was in one file!

[2016-04-06 03:10] smartattack commented on #106
I did manage to figure something out tonight:

If I create ~/.gtkrc-2.0  and populate it with this, it helps a lot.  The
fonts are smaller so they're tiny, but at least they fit within the spaces
meant for them so they aren't clipped:

style "openxenmanager"
{
font_name = "7"
}
widget_class "*" style "openxenmanager"
gtk-font-name = "7"

On Tue, Apr 5, 2016 at 6:59 PM, Daniel Lintott <notification

[2016-04-06 03:19] dirk103 commented on #106
@smartattack I hate hacks.

Download my fixed repo. I haven't went over this hugely. It's a real work in progress.

https://github.com/dirk103/openxenmanager

I have only touched a few dialogs yet, I think some of the main ones (that I use).

!! Please let me know if there are any specific windows you would like me to fix immediately !!

I'm in the process of learning XenServer right now so I'm do

[2016-04-07 02:48] smartattack commented on #106
Wow, nice work.  It looks much better.  I can still see a few dialogs like
adding a network interface that have some issues but the main windows look
fine now.  I really appreciate your effort, thanks!

On Tue, Apr 5, 2016 at 11:19 PM, James <notifications@github.com> wrote:

[2016-04-07 07:19] dirk103 commented on #106
Thanks man :)

Yeah, I'm working my way through the whole thing. I'd appreciate it if you could tell me the dialogs to prioritize. I'm just learning about Citrix Xen Server right now so I'm not completely sure what's all important.

I haven't dug into the code besides making sure I don't break things, but does this project use a base library to manipulate the Xen server in a standard protocol, or

[2016-04-08 09:25] mohqas commented on #55
I would like to confirm the issue that @LeMurphant mentioned regarding the port being hard coded in the tunnel (80).
In my setup, the port 80 is restricted and it is causing the console not to work.

[2016-04-08 12:52] dlintott commented on #55
I have been working on this issue... but have hit a snag with the SSL... running up against various errors, the main one being

[code]

[2016-04-08 17:07] dlintott commented on #55
So I've managed to fix the SSLWantReadError, but text entry is now very hit and miss in the console. I have uploaded the changes I've made to the ssl_tunnel branch

[2016-04-11 13:13] LeMurphant commented on #55
On the ssl_tunnel branch commit 87eb6fa3 I get the following error when attempting to use the console:

Unexpected error: (<type 'exceptions.AttributeError'>, AttributeError("'module' object has no attribute 'SSLWantReadError'",), <traceback object at 0x7fd6e3f69f80>)
Traceback (most recent call last):
  File "./src/OXM/tunnel.py", line 135, in read_from_server
    except ssl.SSLWantReadError:
Att

[2016-04-11 13:15] dlintott commented on #55
@LeMurphant The second error, I have been experiencing as well... but the first one is very odd... Hmm

[2016-04-13 07:57] mohqas commented on #55
I had the same error regarding SSLWantReadError. This exception was introduced in python's 2.7.9 version of the library. However, on my Ubuntu LTS machine, python 2.7.6 is used.

I switched the exception to SSLError for the sake of testing, and the console worked partially as you mentioned: I could see the machines. However, I had issues with text input.

[2016-04-28 16:38] smartattack commented on #106
I just had another look at your repo today, James.  The gui looks much more
polished and the font sizing is much better on my hidpi laptop.  Really
nice work, thanks!

On Thu, Apr 7, 2016 at 3:19 AM, James <notifications@github.com> wrote:

[2016-04-29 10:15] dirk103 commented on #106
Thank you :)

I need to fix a few things up to get it accepted to the main repo. I'm hoping to redo the graphing, but need to learn some more Python and GTK first.

Can I ask what system you're running it on?

[2016-04-29 13:40] smartattack commented on #106
I am running linux Mint Cinnamon 17.3.  My display resolution is 2560x1440,
fwiw.

On Fri, Apr 29, 2016 at 6:15 AM, James <notifications@github.com> wrote:

[2016-05-01 06:03] mkermani144 opened #113 "Network interfaces are shown only before starting,stopping or restarting VM"
It seems there is a bug in Network tab. When I open the program, the VM network interfaces are shown without any problem. Now, if I start, stop or restart the server, network interfaces are disappeared and I should restart the program to see network interfaces. I have latest version of the program currently. ( 1 May 2016 )

[2016-05-04 13:01] mprenditore commented on #38
I know that is a old post, but I have created a desktop files for this... Are anyone already interested?
If yes, I'm new to github, so how I can push my changes? I should create a new branch and start a pull request?

[2016-05-04 13:05] dlintott commented on #38
Absolutely interested :)

As you've already got an account on GitHub, you can fork the repository, apply the changes and send a pull request

Forking - https://help.github.com/articles/fork-a-repo
Pull Requests - https://help.github.com/articles/using-pull-requests

[2016-05-04 13:55] mprenditore commented on #38
Thank you for your help.
I forked and pushed.
I also made a pull request.

It's in reviewing ;)

[2016-05-04 13:57] dlintott commented on #38
@mprenditore Many thanks... I shall take a look at the PR later and merge it  in

[2016-05-04 13:59] mprenditore commented on #38
Perfect... I hope you enjoy!

[2016-05-05 07:41] mprenditore commented on #38
@dlintott did you check the PR?

[2016-05-12 09:37] hkmachines opened #115 "Issues with Openxenserver"
Hello Team,

I love the software and everything but sometimes it becomes difficult to troubleshoot issues related to openxen manager as there is no documentation.

Let me state my issue which I have been facing with Openxen manager.

There was a recent power outage with openxen manager where the servers were hosted and since then one of the nodes is not getting connected whenever I am trying to ad

[2016-05-17 07:50] vicky17apr commented on #115
any updates?

[2016-05-18 20:01] edcaron opened #116 "No module named OXM.window - Ubuntu 16.04"
Anyone already installed on Ubuntu 16.04? I did, and also installed the dependences from readme but, i'm getting this error running the  openxenmanager :

Traceback (most recent call last):
  File "/opt/openxenmanager-master/openxenmanager", line 32, in <module>
    from OXM.window import oxcWindow
ImportError: No module named OXM.window

[2016-05-18 21:48] edcaron commented on #116
just changed my command from `openxenmanager` to `python openxenmanager`

[2016-05-18 21:48] #116 closed

[2016-05-23 07:03] mprenditore commented on #38
up

[2016-05-23 14:43] ellingtonb commented on #107
**If someone is having an error while exiting the tool like below:**
`/openxenmanager:37: GtkWarning: Attempting to store changes into /Users/xxxx/.local/share/recently-used.xbel', but failed: Datei »/Users/xxxx/.local/share/recently-used.xbel.PJNHEY« konnte nicht angelegt werden:
  gtk.main()
./openxenmanager:37: GtkWarning: Attempting to set the permissions of /Users/xxxx/.local/share/recently-u

[2016-05-23 15:25] ellingtonb opened #117 "Problem Connecting to Server using Master Password"
When I checked the option to remember the password to my added servers, and the first time i connect to the server, everything works fine, but when i reopen the application, enter my master password and try to connect to the server added earlier, the application stops working with the messages below:

[code]

[2016-05-23 18:33] edcaron commented on #97
I have the same. Did you solve it?

[2016-05-24 08:35] sp3t3rs commented on #103
Hey Guys,
im having the same problem. OpenXenManager frim git runs perfect but a blackscreen in Console Tab.
Any idea what i should try or check?

Simon

[2016-06-02 20:44] omi2012 commented on #113
Can confirm the issue.

[2016-06-08 16:17] aimdev opened #119 "Xenserver shutdown crashed openxenmanager"
Setup
Xenserver on Box A running test vm debian jessie, x11 and openxenserver downloaded 8-jun-2016
Xenserver on Box B running vm's
Both Xenservers ver 6.5 fully patched
Quartz X11 running on osx el capitan, both fully patched.
Shutdown Xenserver on Box B, and the following was observed in the xterm
Server version is ['XenServer', '6.5.0', '1.3', 'Citrix XenServer']
sync-success
Server sync progre

[2016-06-16 14:45] tomck commented on #102
Hm, when I went into update manager I was able to upload the .xsupdate, but when I try to apply it fails. I tried twice so here's both copies of the error:

[code]

[2016-06-20 17:59] sant0ro commented on #110
Hi @rkaartikeyan here a little tip for you.

In MacOSX you can use a dependency manager called `homebre` (https://brew.sh). After installing it, or if you already have it, simple do this following command to install Py2.7:

<pre>
brew install pyenv
pyenv install 2.7.5
pyenv global 2.7.5
</pre>

Or simple:

<pre>
brew install python
</pre>

Good luck!

[2016-06-20 18:04] sant0ro commented on #46
@ofqwx @fhorlaville @kochen Please follow my tutorial, i hope it works,
https://github.com/OpenXenManager/openxenmanager/issues/107
Also the Tutorial works for MacOSX Yosemite, only ignore the part of Tiger-VNC, since TigerVNC is not oficial supported in MacOSX El Captain

[2016-06-20 18:05] sant0ro commented on #65
@flareofghast @Ezerbeth which version of MacOSX are yours running? Yosemite or El Captain? Or other version? :sunglasses:

[2016-06-20 18:07] sant0ro commented on #45
@mcm correct. But if anyone still has any dudes, follow my tutorial (https://github.com/OpenXenManager/openxenmanager/issues/107) or feel free to make a question to me here.

[2016-06-23 19:36] guestisp commented on #113
+1 I confirm

[2016-06-23 19:38] guestisp commented on #103
I can confirm. Many times (not always) the console tab is black

[2016-06-30 12:19] MrUlmo commented on #104
The only way is to add "ISO libary" either with NFS or CIFS.

The xenserver.iso and xs-tools.iso is located at /run/sr-mount i belive, but adding an ubuntu og other os iso's doesn't work, because, and this is a guess, the hypervisor cannot see this as bootable media.

There might be a way around, install samba or nfs-server on the xenserver and make a network drive on /run/sr-mount or on a folder

[2016-07-01 19:11] Anderseta opened #121 "undefined symbol: SSLv2_method"
This happens when i try to run openxenmanager:

[code]

I am using OpenSuse Leap 42.

I have found that Openssl disabled this feature because of vulnerability issues or something.

[2016-07-01 20:21] FreddieOliveira commented on #104
Six months later and still can't choose an ISO file -.-' This is such a simple issue, please fix it
![xen_bug](https://cloud.githubusercontent.com/assets/9597536/16533586/3a708228-3fb0-11e6-9e67-0962e1c8943b.png)

[2016-07-01 22:55] MrUlmo commented on #104
@FreddieOliveira
**1**: This is **NOT** a client side issue. The server has probably been designed to do it this way, if you have a problem take it upstream.
**2**: My post above points to a workaround, But you still need to add a "ISO Libary", it's the **only** way.

[2016-08-08 13:19] tlwhitec commented on #83
Seeing the same issue, right after I connected oxm to a xen server. Everything still seems to work, though. The issue is merely cosmetic, although admittedly disturbing.

[2016-08-11 03:57] marcelocecin commented on #107
3. Installing FLTK
brew install --devel https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/fltk.rb

[2016-08-11 04:06] marcelocecin commented on #46
hi there

I'm facing the error: Traceback (most recent call last):
  File "./openxenmanager", line 23, in <module>
    import gtk
ImportError: No module named gtk

[2016-08-11 12:30] sant0ro commented on #107
@marcelocecin you need instal pygtk! Please follow entirely my tutorial.

[2016-08-11 14:56] marcelocecin commented on #107
@sant0ro here's my screen shot
![captura de tela 2016-08-11 as 11 54 55](https://cloud.githubusercontent.com/assets/2955762/17592910/8615ec02-5fba-11e6-9569-4bf55def2093.png)

[2016-08-12 14:34] sant0ro commented on #107
@marcelocecin you need those dependencies.

[2016-08-12 18:48] marcelocecin commented on #107
I have to run this command: sudo xcode-select -switch /Applications/Xcode-beta.app/Contents/Developer/

[2016-08-13 17:27] jfberry commented on #107
Falls down at FLTK step

Jamess-MBP-7:~ berryj$ brew install --devel https://raw.githubusercontent.com/Homebrew/homebrew/master/Library/Formula/fltk.rb

curl: (22) The requested URL returned error: 404 Not Found
Error: Failure while executing: /usr/bin/curl --fail --progress-bar --remote-time --location --user-agent Homebrew/0.9.9\ (Macintosh;\ Intel\ Mac\ OS\ X\ 10.11.6)\ curl/7.43.0 https://raw.

[2016-08-13 17:30] sant0ro commented on #107
@jfberry now will work.
I edited the main post.

[2016-08-13 17:39] jfberry commented on #107
@sant0ro thanks, that worked. Now I notice that I need to do: brew install Caskroom/cask/xquartz before tiger-vnc

[2016-08-13 18:44] sant0ro commented on #107
@jfberry glad to know that is working for you ;)

[2016-08-19 12:54] guiguir68 opened #122 "List index out of range"
Hi,

I try to add my local server, but an error message appears : "List index out of range", and the software crashes.

Any fix ?

Thanks !

[2016-08-25 16:31] irkonik opened #123 "gtk-vnc error"
When```
Traceback (most recent call last):
  File "/usr/bin/openxenmanager", line 32, in <module>
    from OXM.window import oxcWindow
  File "/usr/lib/python2.7/site-packages/OXM/window.py", line 36, in <module>
    import gtkvnc
ImportError: No module named gtkvnc
[code]

[2016-08-26 13:40] roberthurricane commented on #107
Thanks for the guide. After updating my homebrew however, it is failing to install the first package listed:

jin:~ robert$ brew install caskroom
Error: No available formula with the name "caskroom"
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
Error: No formulae found in taps.

[2016-08-26 13:43] sant0ro commented on #107
@roberthurricane skip Caskroom, by default new Homebrew's already have it.

[2016-08-26 14:53] Shantira opened #124 "Openxenmanager didn`t start"
when I tried to start Openxenmanager I got this:
Traceback (most recent call last):
  File "/bin/openxenmanager", line 5, in <module>
    pkg_resources.run_script('openxenmanager==0.1b1', 'openxenmanager')
  File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 540, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/python2.7/site-packages/pkg_resourc

[2016-08-26 15:04] Shantira commented on #124
OK Just need to install python-configobject. I think it will be good to write instruction which packages necessary for Centos.

[2016-09-08 16:17] dcarnelutti commented on #10
any news about this issue? im using xenserver 7.0 and got the same problem

[2016-09-11 22:32] codekorz opened #125 "Console and performance tab doesnt work"
Hi,
 i installed it from git on ubuntu 16.04.

The graphs from "Performance" doesnt appear and the console its black and crashes openxenmanager.

Here the trace.

`VM not found OpaqueRef:04693360-d9ec-b971-345b-99ab62fca771
None
Exception in thread Thread-6:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/p

[2016-09-20 17:58] krydm commented on #107
@sant0ro, many thanks, first of all. Secondly, I'm getting the same error as @marcelocecin:

Traceback (most recent call last):
  File "./openxenmanager", line 23, in <module>
    import gtk
ImportError: No module named gtk

Pygtk is installed, though:

pygtk: stable 2.24.0 (bottled)
GTK+ bindings for Python
http://www.pygtk.org/
/usr/local/Cellar/pygtk/2.24.0_1 (590 files, 15.4M) *
  Poured from

[2016-09-20 18:18] sant0ro commented on #107
@krydm weird, you already have pygtk and gtk, try restart your machine.

[2016-09-20 18:27] krydm commented on #107
@sant0ro just tried, didn't help :(

[2016-10-07 14:37] jakern commented on #123
I am also having this issue and I do not have the option to rollback. Is this something that can be patched on oxm end or will it have to be fixed by the gtk-vnc package?

[2016-10-10 17:49] gaserre opened #126 "exception: CannotSendRequest in update_performance"
Every once in a while, I get the following exception.  Synchronization required, or maybe catch and retry later?  I'll see if I can come up with a patch.

[code]

[2016-10-28 00:11] godzilla74 opened #127 "Can't Start Openxenmanager OSX Sierra"
Followed instructions at: [https://github.com/OpenXenManager/openxenmanager/issues/107](https://github.com/OpenXenManager/openxenmanager/issues/107 ) with the exception of step 11-13 since I don't have a `.conf` file in the directory to edit.
![screen shot 2016-10-27 at 8 09 24 pm](https://cloud.githubusercontent.com/assets/737720/19789879/49c2c618-9c81-11e6-9e03-dc1669fda41c.png)

When trying to

[2016-10-28 12:37] sant0ro commented on #127
You need create the `.conf` file.
After installing and configuring like step 11-13, restart the PC.

[2016-10-28 12:39] sant0ro commented on #107
@krydm remember to install PyGTK. You only have GTK and Python.

[2016-11-30 11:37] hyperized commented on #107
Omitting `brew install caskroom` and doing this for FLTK instead `brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/fltk.rb` (no longer devel?) did miracles for me.

[2016-11-30 11:48] sant0ro commented on #107
Updated main answer. with the Instructions of @hyperized

[2016-12-07 19:21] VinniplayDE opened #128 "Console"
Mac OSX 10.12.1

Console is not available
Page is visible.

Traceback (most recent call last):
  File "./src/OXM/window_vm.py", line 149, in on_btenterfullscreen_clicked
    self.builder.get_object("console_area").remove(self.vnc)
AttributeError: 'oxcWindow' object has no attribute 'vnc'

[2016-12-07 19:24] sant0ro commented on #128
Please see this: #107

[2016-12-07 19:24] sant0ro commented on #127
Waiting your answer.

[2016-12-07 19:28] sant0ro commented on #123
It seems that OXM isn't reaching to the 'gtkvnc'

Try check if gtkvnc is installed by

<pre>
python

</pre>

Check if this gives an error.

[2016-12-09 03:07] juito commented on #127
Tried above step same error in Sierra.
Traceback (most recent call last):
  File "/usr/local/bin/openxenmanager", line 4, in <module>
    __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources/__init__.py", line 742, in run_script
    self.require(requires)[0].run_script(scri

[2017-01-01 12:52] pharazon commented on #10
I'm also having the same problem on Xen Center 6.2 (XenServer 6.2.0-70446c). I'm using
openxenmanager:all/trusty 0.r80+dfsg-4 uptodate

[2017-01-05 19:48] oytunistrator commented on #127
Same error:

➜  openxenmanager git:(master) ./openxenmanager

(process:30631): Gtk-WARNING **: Locale not supported by C library.
	Using the fallback 'C' locale.
Traceback (most recent call last):
  File "./openxenmanager", line 32, in <module>
    from OXM.window import oxcWindow
  File "/usr/local/lib/python2.7/site-packages/openxenmanager-0.1b1-py2.7.egg/OXM/window.py", line 25, in <module>

[2017-01-05 22:06] sant0ro commented on #127
@oytunistrator what is your main language at your OS X Sierra?

[2017-01-13 11:53] XenonPK opened #130 "[Feature] Allow assignment of gpu to guest"
On the latest version of XenCenter, in the guest properties page, there is an option to choose from the available gpus for eg. gpu passthrough.
From what I've seen,  there is no equivalent in openxenmanager.

[2017-01-31 10:24] alejandro-anv opened #131 "[Feature]"
Allow to create/edit virtual appliances.

I have a scrript on the server's boot that starts up a virtual appliance on boot. But openxenmanager does not manage this.

[2017-03-04 01:41] jauyzed commented on #113
+1 confirm

[2017-03-13 21:27] diguz commented on #72
Same problem here.
It hangs when connecting to a server after setting a master password:

<oxcSERVER object at 0x7fc867238780 (OXM+oxcSERVER_addserver+oxcSERVERaddserver at 0x1bf0580)>
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run

[2017-03-13 21:29] diguz commented on #117
Seems like a duplicate of: https://github.com/OpenXenManager/openxenmanager/issues/72

Same problem here.
It hangs when connecting to a server after setting a master password:

<oxcSERVER object at 0x7fc867238780 (OXM+oxcSERVER_addserver+oxcSERVERaddserver at 0x1bf0580)>
Exception in thread Thread-1:
Traceback (most recent call last):
File "/usr/lib/python2.7/threading.py", line 801, in __bootstra

[2017-03-16 14:50] guidoilbaldo commented on #107
Hi,

followed your brilliant tutorial and managed to install openxenmanager and connect it to a XEN cluster.
Still, I'm experiencing issues when clicking to create a new VM.
I get this error:
`Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/openxenmanager-0.1b1-py2.7.egg/OXM/window_menuitem.py", line 795, in on_m_newvm_activate
    self.xc_servers[self.selected_ho

[2017-03-16 16:54] sant0ro commented on #107
@guidoilbaldo maybe this be a OpenXenManager Issue. Not related to my tutorial.

The problem of OpenXenManager it'd that the author stopped commiting. So any bugs would not be fixed or corrected.

Sadlt OpenXenManager it's the onliest software that allows manage Xen by non-Windows Environments.

I would recommend you using XenOrchestra that is a Web Interface Management for Xen.

[2017-03-17 08:54] dlintott commented on #107
Hi @sant0ro and all

Apologies for the lack of activity here... I am still about, and continue to recieve all the notifications about OpenXenManager. Unfortunately time hasn't been on my side recently, but intend to get back to working on OpenXenManager very soon.

[2017-03-17 10:51] sant0ro commented on #107
@dlintott we know how time is it hahaha.

Anyways, maybe some day you get time to do the updates.

Anyways, OpenXenManager is good, but very very buggy. xD

[2017-04-07 21:24] bhanderson commented on #127
Just a point of reference #107 worked for me with macOS Sierra 10.12.4

[2017-04-26 17:33] mdigga39 commented on #127
Same Issue as above :/

OSX 10.12.4

[code]

As you can see, both are already installed:

[code]

[2017-05-13 01:53] monte-monte commented on #108
runing git version on Ubuntu 16.04, XenServer 7.1
same here - black window on console tab, errors in terminal which runs openxenmanager.
`Exception in thread Thread-21:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)

[2017-05-19 20:46] jtlindsey opened #134 "Cant delete new virtual disk"
When I click 'delete' to delete a new virtual disk i created just for testing, It won't delete. It doesn't do anything. I can create new virtual disk, but cannot delete them from the application. Is there any guidance on this?

Linux Mint 18

[2017-05-20 19:59] sweendogg007 commented on #127
I had the same problem with importing the gtk.

I uninstalled MAC version of Python and uninstalled pygtk and gtk in home-brew and then installed them again.

if you type "which python" in the terminal it should point to /usr/local/bin/python

You might want to add this into a recheck before going through steps 1 - 13

Hope this helps

[2017-05-29 20:25] marcelocecin commented on #107
brew doctor
brew cask reinstall xquartz
but still with the error: No module named gtk
![captura de tela 2017-05-29 as 17 22 11](https://cloud.githubusercontent.com/assets/2955762/26561322/c01fb8f6-4493-11e7-8551-5c620f88ce72.png)
![captura de tela 2017-05-29 as 17 23 47](https://cloud.githubusercontent.com/assets/2955762/26561330/c8b0256e-4493-11e7-872e-351a21fffe4a.png)

[2017-05-30 17:29] barciella commented on #107
Plenty of errors I got was because I had anaconda and brew python at the same type. Plugins would install in conda instead of brew python. After I completely removed anaconda with their clean uninstall and installed the pre-requisites again with brew and pip everything worked.

[2017-05-31 18:57] josep112 commented on #107
I followed all the steps above but my monitor does not work, I had no errors in the installation what can it be?

[2017-06-09 14:22] vpakg commented on #107
Perfect, works well. The only difference is that I didn't have an .sh file, I had to run `python openxenmanager` instead.

Great tutorial, Obrigado!

[2017-06-09 16:46] LtDan33 commented on #107
Thanks for the info, very helpful. Please note I had to run `brew cask install xquartz` to get xquartz

[2017-07-24 18:59] boistordu commented on #102
still no solution? I've installed openxenmanager from apt ubuntu and it doesn't accept iso update for hotfix.... is this project still running?

[2017-07-29 01:58] liheeng commented on #113
+1 confirm

[2017-08-12 07:35] ksachdeva11 commented on #107
I have gtk installed still getting the below error.
`BLDM2558-MAC:openxenmanager-master ksachdeva$ python openxenmanager
Traceback (most recent call last):
  File "openxenmanager", line 23, in <module>
    import gtk
ImportError: No module named gtk
BLDM2558-MAC:openxenmanager-master`

[2017-08-18 20:25] dgofreitas opened #135 "Can't import xda image"
Exception in thread Thread-6:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib64/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "./src/OXM/oxcSERVER.py", line 927, in fill_vm_search
    rrd_updates.refresh()
  File "./src/OXM/rrdinfo.py", line 108, in refr

[2017-08-28 14:46] boistordu opened #136 "is this project alive?"
still alive or not?

[2017-08-28 20:25] dlintott commented on #136
@boistordu Sort of yes... I'm still here, but haven't had any time lately to work on the project. I hope to pick the project up again soon, but working two jobs doesn't leave much free time

[2017-09-13 15:24] audricd commented on #107
worked like a charm.. setting custom VNC did the trick. Otherwise, its almost a useless GUI management tool! Thank you so much!

[2017-09-19 07:40] bertalanimre opened #137 "Fedora 25"
[code]

[2017-09-19 07:41] bertalanimre commented on #137
Solution:

`dnf install glade pygtk2-libglade.x86_64 -y`

[2017-09-19 07:41] #137 closed

[2017-09-29 15:01] d2a-raudenaerde commented on #136
I can help testing for you :) (i;m running ubuntu 17.04, and get lots of error currently in openxenserver, which I took from the ubuntu repos)

[2017-10-31 09:58] evelynloo opened #138 "Got error when running openxenmanager on macOS high sierra"
When running this command ./openxenmanager, I got this error.
Traceback (most recent call last):
  File "./openxenmanager", line 32, in <module>
    from OXM.window import oxcWindow
  File "./src/OXM/window.py", line 25, in <module>
    from configobj import ConfigObj
ImportError: No module named configobj

I have already executed these command successfully,
1) brew install python gtk pygtk
2) pip

[2017-12-16 14:52] dlintott commented on #136
@d2a-raudenaerde The version that is currently in the ubuntu repos, is very out of date fortunately. You would be best to test from this repository until they are updated

[2017-12-17 10:57] dlintott commented on #38
Finally got around to merging this in.... Better late than never!

[2017-12-17 10:57] #38 closed

[2017-12-17 16:15] #134 closed

[2017-12-21 00:09] JessicaCGlenn commented on #138
Hey @evelynloo, I don't know if this helps, but is it possible your python and pip commands pointing to the system python instead of homebrew python?

I made a mistake earlier where my configobj was on the wrong path, when I reinstalled python through homebrew it was installed as python2 and pip2 so I instead used:

`pip2 install configobj`
`python2 setup.py build`
`python2 setup.py install`

and

[2018-01-16 15:38] TwoWheelDev commented on #13
So I have finally decided on starting to work on using Qt5 to desing the next version of OpenXenManager. This will obviously take time to complete though

[2018-02-27 11:35] netoeuler commented on #97
2018 and this problem persists... nobody knows how to solve it?
I have to use the Windows version because I'm unable to do a simple revert in a snapshot.

[2018-02-27 13:32] olivierlambert commented on #97
You can use Xen Orchestra otherwise ;)

https://github.com/vatesfr/xen-orchestra

[2018-03-06 09:21] gnanet commented on #78
I can report same: had a previous version, and the oxm.conf was present

BUT, i removed the old `oxm.conf` from `~/.config/openxenmanager`
source is: github master 1cb5c1cb13358ba584856e99a94f9669d17670ff

[code]

and the fresh created oxm.conf also produces this error:

[code]

[2018-03-06 10:44] gnanet commented on #72
seems **self.ssl** gets string type instead of boolean an as such it cannot select http/https
anyway, if you correct that the next problem: self.port value seems missing :

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__targ

[2018-03-06 10:59] gnanet commented on #72
After solving the missing port and sync succes:

[code]

This cant be right

[2018-03-06 11:54] gnanet commented on #72
There must be a huge problem with saved password, unsetting master password, and removing the saved pass allows successful connection with manually provided password

[2018-03-09 13:42] xFinityTM opened #141 "Another issue while running openxenmanager on High Sierra"
Hi guys,

I've encountered problems while trying to run openxenmanager on MacOS High Sierra.
I've followed this guide: https://blog.lerk.io/how-to-install-openxenmanager-on-macos-sierra/

When I try to run openxenmanager I'm getting this error:
[code]
But I've checked:

[code]

Has any of you encounter this kind of issues ? I will appreciate any help

[2018-03-25 07:51] jsarasin commented on #106
Probably close this issue hey?

[2018-03-25 13:20] davidak commented on #106
@jsarasin is it fixed?

[2018-03-27 07:37] jsarasin commented on #106
@davidak I believe all of the dialogs have been fixed up. @smartattack seemed to be happy. Of course there may be things here and there that could be fixed up, but more specific issues would have to be raised. Do you know of a place where scaling is an issue?

[2018-03-27 12:48] davidak commented on #106
@jsarasin i don't work at the company anymore where we used Xen.

[2018-04-13 10:14] Zeedinstein commented on #141
You need to use python2.7, I had the same issue.

Run:
`brew install pygtk`
`pip2.7 install configobj`
`pip2.7 install raven`

[2018-04-15 02:35] classloader opened #142 "Got error when running openxenmanager on Fedora27"
No protocol specified
/usr/lib64/python2.7/site-packages/gtk-2.0/gtk/__init__.py:57: GtkWarning: could not open display
  warnings.warn(str(e), _gtk.Warning)
/usr/lib/python2.7/site-packages/openxenmanager-0.1b1-py2.7.egg/OXM/window.py:192: Warning: invalid (NULL) pointer instance
  self.builder.add_from_file(g_file)
/usr/lib/python2.7/site-packages/openxenmanager-0.1b1-py2.7.egg/OXM/window.py:192

[2018-04-15 12:39] #142 closed, assigned to nobody

[2018-04-15 12:41] classloader commented on #142
start success after reboot system.

[2018-04-23 12:59] gabrielmrqz opened #143 "Got an error with OpenXenManager on Fedora27"
I've installed the pre-requisites, but I'm getting this error:
"Traceback (most recent call last):
  File "/usr/bin/openxenmanager", line 4, in <module>
    __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 750, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/u

[2018-04-25 14:51] magikmw commented on #143
dnf install glade - should fix it
Overall Fedora dependencies are:
gtk-vnc-python glade python2-configobj python-raven

[2018-05-08 09:49] ghost commented on #97
With the first version of XenServer 7.0 '**Delete**' and '**Revert to**" works fine

Since Update to XenServer 7.1 / 7.4 got the same problem in OpenXenManager/MAC: no solution :(

[2018-05-11 18:49] theyapps opened #144 "Visual Issues on Linux Mint"
**OS:** Linux Mint 18.3 Sylvia

Having an issue when using openxenmanager on a 15.6" laptop running Mint 18.3

Part one is the UI goes off the screen and there is no way to bring it back onto the screen. Part two is the general tab has light gray text on a white background. Screenshot attached.

![openxenvisual](https://user-images.githubusercontent.com/15441/39941405-131144a4-5522-11e8-8a3e-7c53d

[2018-06-15 19:21] rowan8k opened #145 "Unable to assign virtual network interface to VM"
I just started using OpenXenManager and created my first VM but in the start up it wouldn't let me add a network interface so I thought fine I'll do that later.

But as soon as I try to choose "add interface" at my vm and choose the correct network and add it, it won't turn up in my virtual network interfaces.

Could someone help me out?

[2018-06-26 12:57] ericiper commented on #145
+1

[2018-06-26 15:53] Comsolvia commented on #108
Any news on this? Same thing when running OpenXenManager on Mac OSX. Nothing is visible in the Virtual Console...

[2018-07-11 08:24] abdulazizyaakup opened #146 "Unable to export vm"
I'm trying to move all my vm from server1 to new server2. I want to export VM as backup into my local machine before import it to server2. But this error occur:

Export snap as VM..
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/window.py", line 1443, in on_btsavefile_activate
    self.xc_servers[self.selected_host].export_vm(se

[2018-08-03 16:56] barrrrt commented on #145
+1

[2018-08-17 12:55] glococo commented on #13
Have you thought about Electron ?

[2018-08-25 06:42] xhronos commented on #123
On my machine running **Ubuntu 18.04** this was solved by installing `python-gtk-vnc`.
After this you possibly get another error about missing `glade`, so you also want to install `python-glade2`.

[code]

[2018-08-25 21:07] boospy opened #147 "DEB Package for Ubuntu 18.04 no available"
https://apt.iteas.at/

Have fun :)

[2018-09-05 17:03] Baygon-flb commented on #145
+1

[2018-09-10 20:37] sparky1088 opened #148 "no module named "oxm.window" openxenmanager"
When first downloaded I was getting the error that is the title.
I am running Ubuntu 18.04
Because it is not on the mirror I just downloaded the zip.
So I made sure I had all of the dependencies etc and then noticed that it wasn't actually finding the src directory in the oxm.pyw was the problem
I modified to the from ./src to the actual path rather than relative.
from:
[code]
to:
[code]
 I didn't

[2018-09-10 20:50] sparky1088 commented on #148
found a terminal with the full trace in it
[code]

[2018-10-05 10:08] RobertBakaric opened #149 "ImportError: No module named gtk"
I tried it all plus complete reinstal of my Ubuntu.... what am I missing?

    $openxenmanager
    Traceback (most recent call last):
      File "/home/xxx/anaconda2/bin/openxenmanager", line 4, in <module>
        __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')
      File "/home/xxx/anaconda2/lib/python2.7/site-packages/pkg_resources/__init__.py", line 658, in ru

[2018-10-23 14:38] phiro69 commented on #149
On the gtkvnc IRC channel they said openxenmanager has been discontinued and we need to move on. :(

[2018-10-23 14:54] olivierlambert commented on #149
Go to Xen Orchestra ;) Or XCP-ng Center on Wine, if it works (but both projects are community driven so you can contribute to both)

[2018-10-23 15:02] TwoWheelDev commented on #149
@phiro69 Unfortunately when I took the project on after it had been dead for a while, I was out of work.

I am now working full time, so have very little time to dedicate to OpenXenManager.

By all means if anybody is interested in working on the project, please don't hesitate to ask!

[2018-11-20 03:55] jtjisgod opened #150 "KeyError: 'OpaqueRef:72a6ebac-3527-0111-3516-950bad4b1712' Traceback (most recent call last): File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 1867, in <lambda> self.wine.builder.get_object("listvmnetwork")) and False) File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 407, in fill_vm_network addr for key, addr in net_addrs.items() AttributeError: 'tuple' object has no attribute 'items'"
KeyError: 'OpaqueRef:72a6ebac-3527-0111-3516-950bad4b1712'
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 1867, in <lambda>
    self.wine.builder.get_object("listvmnetwork")) and False)
  File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 407, in fill_vm_networ

[2018-11-20 04:01] jtjisgod opened #151 "[Resolved] 'tuple' object has no attribute 'items'"
https://github.com/OpenXenManager/openxenmanager/blob/1cb5c1cb13358ba584856e99a94f9669d17670ff/src/OXM/oxcSERVER.py#L407

`addr for key, addr in net_addrs.items()`
Change to
`addr for key, addr in net_addrs`

# Issue ( Bug )
KeyError: 'OpaqueRef:72a6ebac-3527-0111-3516-950bad4b1712'
Traceback (most recent call last):
File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/o

[2018-11-20 04:02] jtjisgod commented on #150
https://github.com/OpenXenManager/openxenmanager/issues/151

[2018-11-20 04:03] jtjisgod commented on #151
https://github.com/OpenXenManager/openxenmanager/issues/150

[2018-11-21 12:36] jeffmachado commented on #145
+1
Returns that Traceback:

File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 1867, in <lambda>
    self.wine.builder.get_object("listvmnetwork")) and False)
  File "/usr/local/lib/python2.7/dist-packages/openxenmanager-0.1b1-py2.7.egg/OXM/oxcSERVER.py", line 407, in fill_vm_network
    addr for key, addr in net_addrs.items()
AttributeError: 'tuple

[2018-12-03 10:19] Cyborgscode opened #152 "Fedora 28+ broke support for gtk-vnc-python"
Fedora 28+ removed the needed gtk-vnc-python package.

You can use the one from F27 by doing this as root:

rpm -i --force --nodeps http://dl.fedoraproject.org/pub/fedora/linux/releases/27/Everything/x86_64/os/Packages/g/gtk-vnc-python-0.7.1-3.fc27.x86_64.rpm
(change to i686 if you are still use 32bit, which you shouldn't)

[2018-12-03 11:10] berrange commented on #152
The GTK-VNC 0.8.0 release entirely deleted the python binding. Applications should access GTK-VNC APIs using GObject Introspection instead. Note that support for GTK2 is also going to be dropped from GTK-VNC, so it is advisable to switch to using the modern GTK3 toolkit too. You can see illustration of using GTK-VNC via GObject Introspection here:

https://gitlab.gnome.org/GNOME/gtk-vnc/blob/maste

[2018-12-12 12:01] brucehvn commented on #72
I'm experiencing the same problem on Ubuntu 18.04, but was also happening on 16.04.
`Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "./src/OXM/oxcSERVER_addserver.py", line 50, in

[2018-12-17 16:08] SeanFmcdonnell commented on #59
```sudo pip install configobj```

[2019-01-20 22:38] alexmateescu opened #153 "Mac OS License server error"
Hi. Whe i try to assign a license i get the below. Any ideas?

Traceback (most recent call last):
  File "./src/OXM/window_menuitem.py", line 1160, in on_acceptlicensehost_clicked
    self.xc_servers[self.selected_host].set_license_host(self.selected_ref, licensehost, licenseport, edition)
  File "./src/OXM/oxcSERVER_menuitem.py", line 482, in set_license_host
    if res not in "Value":
TypeError:

[2019-02-17 15:23] ghost commented on #124
Hi all.  I can't start openxenmanager on fedora 25. I've got the same message
$ ./openxenmanager
Traceback (most recent call last):
  File "./openxenmanager", line 32, in <module>
    from OXM.window import oxcWindow
  File "./src/OXM/window.py", line 41, in <module>
    import gtk.glade
ImportError: No module named glade

python-configobject installed.
 sudo dnf install python2-configobj.noarch
L

[2019-03-11 02:25] lcy985a commented on #123
On my Centos7.2 machine, it is called gtk-vnc-python

[2019-05-09 09:56] ntmggr commented on #45
Running `iMac HighSierra v10.13.6`

Getting the following when trying to access the `console` of a VM

[code]

[2019-07-05 13:22] G7Nation commented on #103
Can still confirm OpenXenManager 0.1.0-dev1.  Using XenCenter for Windows was able to view the console.  In the log, around line 40 I see:

['OpaqueRef:a6360307-b9c6-8176-6709-a95f0c3ea7a0']}, 'operation': 'mod', 'ref': 'OpaqueRef:2a9f6844-5874-a59d-545b-44d1e85837f7', 'id': '533686'}
./src/OXM/window.py:1100: GtkWarning: IA__gtk_container_remove: assertion 'GTK_IS_TOOLBAR (container) || widget->p

[2019-08-25 16:19] roncanepa opened #154 "Project status?"
I noticed that there haven't been any repo updates since end of 2017 and I've seen mentions from one of the (or the only?) maintainers (cf., "contributors") that they haven't had time due to day job.

What's the state of the project?  How many of the contributors have write access?  I'm quite interested in this so that we can move away from a windows VM solely for running vcenter.

Thank you!

[2019-08-25 16:27] olivierlambert commented on #154
vcenter, you mean XenCenter (or XCP-ng Center)?

I'm following the project since a while and sadly there's no activity "recently" (2017 as you said), plus XAPI changed a bit since last available version. It's time consuming to follow those changes. Have you tried Xen Orchestra? This is a way to solve the "I need a Windows VM" to administrate your XenServer/XCP-ng infrastructure :wink:

[2019-08-25 17:15] roncanepa commented on #154
Whoops, yes, xencenter.  I have infrastructure on both so it's easy to slip.

I've come across Xen orchestra and I see that you're involved with that project.  How is XO involved with Xen-ng?  I see that XO moved their forums to xen-ng.

[2019-08-25 17:27] olivierlambert commented on #154
I'm both Xen Orchestra and XCP-ng project founder (well, "founder" can have different meaning: XO is more a real creation I did from scratch unlike XCP-ng, which is a fork of XenServer. But in short I decided to fork it and luckily people followed me). So yes, it's the same entity behind, the company I co-founded, [Vates](https://vates.fr), back in 2012.

If you want a quick recap, you can find a

[2019-08-27 18:27] roncanepa commented on #154
Thank you very much!  For both taking the time to explain, and the transparency.

[2019-08-27 18:27] #154 closed, assigned to nobody

[2020-04-27 14:49] devopsec commented on #150
Seeing same error when creating new VM:

[code]

[2020-05-15 08:28] SPirosaka commented on #59
I had the same issue 'No module named configobj' using mayavi, while configobj was already installed.
Uninstall and reinstall configobj solve the issue.

[2020-06-28 05:40] BlackRockCity opened #155 "python setup.py install fails under macOS 10.14 Mojave"
Installed all dependencies. The one blocking issue is that pygtk has been replaced with pygobject3. So I'm getting install errors.

After successfully running python setup.py build, I run

python setup.py install

I see about a hundred lines of successful copying build/lib/OXM/ then I see the following type of error for about 300 lines:

`byte-compiling build/bdist.macosx-10.14-x86_64/egg/pygtk_ch

[2020-06-28 09:24] olivierlambert commented on #155
Hi!

I'd like to know the reasons to use OpenXenManager.  Are you a XCP-ng or Citrix Hypervisor user? For XCP-ng, here is a list of current management possibilities: https://xcp-ng.org/docs/management.html

Having a client up to date requires a very alive project, which sadly isn't the case of OpenXenManager (last updates 4y ago roughly, and since then, a lot of new stuff came on the XAPI part).

[2020-07-27 14:19] Marietto2008 opened #156 "on ubuntu 20.04 a lot of packages are not installable"
on ubuntu 20.04 :

root@ziomario-I9:/home/ziomario/Scrivania/xen# apt install python2.7 python-gtk2 glade python-gtk-vnc python-glade2 python-configobj python-setuptools python-raven
Lettura elenco dei pacchetti... Fatto
Generazione albero delle dipendenze
Lettura informazioni sullo stato... Fatto
Il pacchetto python-gtk2 non ha versioni disponibili, ma è nominato da un altro
pacchetto. Questo pot

[2020-08-03 17:51] lbramos commented on #155
Hi @olivierlambert , I have a server with the Citrix installed and on Windows, I use the Citrix Hypervisor client, what can I use in Mac?

I was looking into OpenXenManager but, as you mentioned, the last update was 4 years ago...

Any recommendations? Thank you

[2020-08-03 18:18] olivierlambert commented on #155
Xen Orchestra obviously :smile: From XOA if you want something deployed in few minutes or from the sources if you want all the features for free (see https://xen-orchestra.com/docs/installation.html )

[2020-08-04 10:44] lbramos commented on #155
Thanks, I'll give it a shot. I'm using XenServer 7.5, I've already seen that it works with XOA.
Just need to figure out now how to use it :)

[2020-08-04 14:01] olivierlambert commented on #155
Feel free to go [on the community forum](https://xcp-ng.org/forum/category/12/xen-orchestra) if you have any problem with it!

[2020-08-07 07:09] zlaasu commented on #156
Same for me. Ubuntu 20.04 unable to get this work.

[2020-08-07 07:24] olivierlambert commented on #156
Hi guys,

The list of management solutions for XCP-ng are here: https://xcp-ng.org/docs/management.html

OpenXenManager is not maintained since a while, so I suggest you take a look to XO, you can have all the features for free if you fetch it from GitHub :)

[2020-08-11 18:07] aguntukk opened #157 "Unable to use Openxenmanager on macos catalina"
After upgrade homebrew my openxenmanager not working I am using macos 10.15.6  Catalina . i am sharing error log with you

Traceback (most recent call last):

  File "/usr/local/bin/openxenmanager", line 4, in <module>

    __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')

  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resour

[2020-08-31 09:22] busyapi commented on #157
From my understanding, this is not supported as PyGtk is not available for Catalina.

See https://discourse.brew.sh/t/pygtk-catalina/5912.

It's more a brew issue than OpenXenManager.

[2020-09-18 07:01] surendra10125 commented on #123
can any one help me please
when i tried to install dependencies with
root@Pc:/var/www/openxenmanager# sudo apt install -y python-gtk-vnc python-glade2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python-gtk-vnc
E: Unable to locate package python-glade2

I am Using Ubuntu 20.04

[2020-09-18 07:05] surendra10125 opened #158 "gtk-vnc Dependencies problem"
@dlintott Could you please help me with this i am using ubuntu 20 when i try to install dependencies for openxenmanager i am getting this issue

root@Pc:/var/www/openxenmanager# sudo apt-get install -y python-gtk-vnc python-glade2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python-gtk-vnc
E: Unable to locate package python-gl

[2020-09-18 07:16] TwoWheelDev commented on #158
Hi,

A number of dependancies relating to GTK 2 have been dropped from various distros now.

The entire application would need porting to GTK3, but sadly I do not have the time undertake that project.

There are a number of other projects that enable management of XenServer that are in active development

[2020-09-18 09:33] surendra10125 commented on #158
could you please guide me any alternatives which will be more useful to manage xenserver

[2020-09-20 21:05] olivierlambert commented on #123
You should really take a look at [Xen Orchestra](https://xen-orchestra.com/docs/installation.html), this project is no active since a while.

[2020-09-20 21:06] olivierlambert commented on #158
As I said in the other thread, [Xen Orchestra](https://xen-orchestra.com/docs/installation.html)

[2021-09-04 15:28] OMK1670 commented on #107
Can any one help for this issue on Mac OS BIg sure
admins-MacBook-Pro openxenmanager % sudo /usr/local/bin/openxenmanager
Password:
Traceback (most recent call last):
  File "/usr/local/bin/openxenmanager", line 4, in <module>
    __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_

[2021-09-30 11:07] koboveb opened #160 "NameError: name 'oxm' is not defined"
For CentOS 7:
$ openxenmanager
Traceback (most recent call last):
  File "/usr/bin/openxenmanager", line 4, in <module>
    __import__('pkg_resources').run_script('openxenmanager==0.1b1', 'openxenmanager')
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 654, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/python2.7/site-packages/pk

[2021-12-18 22:08] monopatis commented on #158
For ubuntu 20.04 try to install these dependencies from older repo
[code]

[2022-01-05 00:51] #144 closed, assigned to nobody

[2022-01-05 00:51] theyapps commented on #144
Closed as I am no longer using Xen to check if it is still an issue.

[2022-01-19 08:04] choiysr commented on #107
can not install
brew install pygtk
brew install https://gist.githubusercontent.com/steakknife/064302dc55e76231d612/raw/tiger-vnc.rb

[2022-01-19 08:18] olivierlambert commented on #107
@choiysr this project is not maintained anymore (no major update since 2016). I would suggest to use Xen Orchestra or any supported client for XCP-ng/Citrix Hypervisor. If you are using XCP-ng, you'll have a bundled web client very soon, called XO Lite.

[2022-03-02 07:24] pgnzbl commented on #142
I also encountered the same problem. After restarting the system（sudo reboot）, the problem still exists

/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/gtk-2.0/gtk/__init__.py:57: GtkWarning: could not open display
  warnings.warn(str(e), _gtk.Warning)
window.py:184: Warning: invalid (NULL) pointer instance
  self.builder.add_from_file(self.gladefile)
windo

[2022-08-31 12:30] #130 closed